<form (ngSubmit)="onSubmit()" class="form-container" style="display: flex; flex-direction: column; gap: 5px; width: 50%; margin-left: 25%; margin-top: 5%;">
    <mat-form-field class="form-field">
      <input matInput placeholder="Número de empleado" name="numeroEmpleado" [(ngModel)]="movimiento.numeroEmpleado" required>
    </mat-form-field>
  
    <!--<mat-form-field class="form-field">
      <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="movimiento.nombre" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Rol</mat-label>
      <mat-select name="rol" [(ngModel)]="movimiento.rol">
        <mat-option value="chofer">Chofer</mat-option>
        <mat-option value="cargador">Cargador</mat-option>
        <mat-option value="auxiliar">Auxiliar</mat-option>
      </mat-select>
    </mat-form-field>
  -->
    <mat-form-field class="form-field">
      <input matInput [matDatepicker]="picker" placeholder="Fecha" name="fecha" [(ngModel)]="movimiento.fecha" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field class="form-field">
      <input matInput type="number" placeholder="Cantidad de entregas" name="cantidadEntregas" [(ngModel)]="movimiento.cantidadEntregas" required>
    </mat-form-field>
  
    <div class="button-container" style="margin-left: 45%;">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
  