
<mat-tab-group>
  <mat-tab label="Agregar empleado"> <app-agregar-empleados></app-agregar-empleados> </mat-tab>
  <mat-tab label="Agregar movimientos"> <app-agregar-movimiento></app-agregar-movimiento>  </mat-tab>
  <mat-tab label="Listado de empleados"> <app-listado-empleados></app-listado-empleados>  </mat-tab>
</mat-tab-group>
  

  
  <!--
      <router-outlet></router-outlet>
    <a mat-list-item routerLink="/Agregar-empleado" class="custom-list-item">Agregar empleado</a>

<a mat-list-item routerLink="/Agregar-movimiento" class="custom-list-item">Agregar movimientos</a>
<a mat-list-item routerLink="/Listado-empleados" class="custom-list-item">Listado de empleados</a>
-->