<mat-table [dataSource]="datos" style="margin-top: 5%;">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Nombre }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="numeroEmpleado">
      <mat-header-cell *matHeaderCellDef> Número de Empleado </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.numeroEmpleado }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.rol }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="fechaSeleccionada">
        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="row.fechaSeleccionada">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="accion">
        <mat-header-cell *matHeaderCellDef> Descargar nómina </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button (click)="generarPDF(row)">Generar Nómina PDF</button>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="['nombre', 'numeroEmpleado', 'rol', 'fechaSeleccionada', 'accion']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['nombre', 'numeroEmpleado', 'rol', 'fechaSeleccionada', 'accion']"></mat-row>
  </mat-table>